
div#two_columns{

}
ul#sidebar{
  float: left;
  
  width: 20%;
}


div#messages{
  float: right;
  width: 80%;
}

div#messages ul#messages_inbox{
  
}

div#messages ul#messages_archive{
  
}

div#messages ul#messages_trash{
  
}





/* global */

*{
  font-family: "Helvetica" sans-serif;
}

.active{
  font-weight: bold;
}

a{
  text-decoration: none;
}

ul{
  margin: 0px;
  padding: 0px;
}

li{
  list-style: none;
}

.hidden{
  display: none;
}